div {
    text-align: center;
    font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
  }
  .nom,
  .cuisine,
  .quartier{
    display: inline-block;
    margin: 5px;
  }
  
  .searchByNom,
  .searchByCuisine,
  .searchByQuartier{
    border-radius: 10px;
    background-color: #f1f3f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-width: 0.125rem;
    border-style: hidden;
  }
  
  .h1title {

    font-size: 32px !important;
    line-height: 2em;
    letter-spacing: 0.0125rem !important;
    text-align: center;
    flex: auto;
    padding: 1.5rem;
    padding-bottom: 1rem;
    color: #f1f3f5;
  }
  .searchByNom:focus, .searchByCuisine:focus, .searchByQuartier:focus {
    line-height: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}
  
  .home_img {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    background-position-y: -90px;
  }
  .btn-previous,
  .btn-next {
    margin: 5px;
  }
  
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin: auto;
  }
  .moman{
    display: block;
    width: 100px;
    background-color:lightblue;
    padding-top: 3rem;
    padding-right: 13rem;
    box-sizing: border-box;
    border-color : black;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    position: relative;
    top: 10%;
    left: 80%;
  }

  .moman-txt{
    text-align: center;
  }


  .add-resto{
    margin: 15px;
    color: #32AE87;
  }

thead{
  background-color:  lightgray;
 

}

th{
  color:#32AE87 !important;
  text-align: center !important;
  font-size: large !important;

}

td{
  text-align: left;
}
tfoot{
  background-color:  lightgray;
}

.info-btn, .trash-btn, .like-btn{
  text-align: center;
}

