<div>
    <div class="home_img">
    <div class="moman">
      <p>
        Restau du moman :
       
      </p>
    </div>
      <h1 class="h1title">Liste des Restaurants</h1>
      <p class="nom">
        <input
          class="searchByNom"
          @input="chercherRestaurants()"
          placeholder="Recherche par nom"
          type="text"
          v-model="nomRestauRecherche"
        />
      </p>
      <p class="cuisine">
        <input
          class="searchByCuisine"
          @input="chercherCuisines()"
          placeholder="Recherche par cuisine"
          type="text"
          v-model="nomCuisineRecherche"
        />
      </p>
    </div>


    <h2>Ajouter un nouveau restaurant</h2>
    <v-form id="add" @submit.prevent="ajouterRestaurant($event)">
      <v-container>
        <v-col cols="12" sm="4">
          <v-text-field
            name="nom"
            v-model="nom"
            filled
            rounded
            label="Nom cuisine"
            clearable
            type="text"
            required
          ></v-text-field>
          <v-text-field
            name="cuisine"
            v-model="cuisine"
            filled
            rounded
            label="Type cuisine"
            clearable
            type="text"
            required
          ></v-text-field>
          <v-dialog v-model="addConfirm" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                :disabled="nom.length < 1 || cuisine.length < 1"
                small
                type="submit"
                v-bind="attrs"
                v-on="on"
              >
                Ajouter
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="justify-center"
                >Nouveau restaurant ajouté !</v-card-title
              >
              <v-card-actions class="justify-center">
                <v-btn color="primary" text @click="addConfirm = false">
                  OK
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-container>
    </v-form>
    <v-simple-table>
      <tr>
        <th>Nom</th>
        <th>Cuisine</th>
        <th>Quartier</th>
        <th>Details</th>
        <th></th>
      </tr>
      <tbody>
        <tr
          v-for="(r, index) in restaurants"
          :key="index"
          :style="{ backgroundColor: getColor(index) }"
          :class="{ bordureRouge: index === 2 }"
        >
          <td>{{ r.name }}</td>
          <td>{{ r.cuisine }}</td>
          <td>{{r.borough}}</td>
          <td>
            <v-dialog
              :retain-focus="false"
              v-model="dialoginfo"
              persistent
              max-width="290"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  @click="
                    setCourant(r.name);
                    dialoginfo = true;
                  "
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon transparent> fas fa-info-circle </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="justify-center">
                  Bienvenue sur la page du restaurant : {{ selectedName }}
                </v-card-title>
                <v-card-actions>
                  <v-btn text @click="dialoginfo = false"> Fermer </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </td>
          <td>
            <v-dialog
              :retain-focus="false"
              v-model="dialogtrash"
              persistent
              max-width="290"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  @click="setIDcourant(r._id)"
                  class="btn-trash"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon> far fa-trash-alt </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="justify-center">
                  Etes-vous sur ?
                </v-card-title>
                <v-card-actions class="justify-center">
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialogtrash = false"
                  >
                    Non
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="
                      supprimerRestaurant(selectedID);
                      dialogtrash = false;
                    "
                  >
                    Oui
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-btn @click="pageprems()">
      <<
    </v-btn>
    <v-btn
      class="btn-previous"
      type="submit"
      :disabled="page === 0"
      @click="pagePrecedente()"
      >
      <
      </v-btn
    >
    <v-btn
      class="btn-next"
      type="submit"
      :disabled="page === nbPagesTotal"
      @click="pageSuivante()"
    >
      >
    </v-btn>
    <v-btn
      @click="pageder()">
      >>
    </v-btn>
    <p>Page courante : {{ page +1 }}</p>

    <p>Nombre de restaurants : {{ nbRestaurantsTotal }}</p>
    <p>Nb de pages total : {{ nbPagesTotal +1 }}</p>
    <p>
      Nb restaurants par page :
      <input
        @input="getRestaurantsFromServer()"
        type="range"
        min="1"
        max="10"
        v-model="pagesize"
      />
    </p>
   
    <v-footer color="#68B8D3">
      <v-col class="text-center">
        <strong> Projet Buffa - Fabre-Sauterey Guilhem - Longin Rémi - {{ new Date().getFullYear() }} </strong>
      </v-col>
    </v-footer>
  </div>